* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {max-width: 100%}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.overlay h1 {
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-size: 80px;
  padding-top: 200px
}

.subhead p {
  text-align: center;
  font-size: 12px;
  margin-top: -60px
}


.logo {
  background:url(http://i.telegraph.co.uk/multimedia/archive/02134/surf-wave_2134340b.jpg);
  width: 1300px;
  height: 523px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -150px 0 50px 0;

}

.overlay {
  background-color: rgba(0, 114, 189, 0.7);
  width: 1300px;
  height: 523px;
}


.icon > img {
  weight: 100%;
  float: left;
  display: inline-block;
  margin: 0 5px 0 140px;
}

.icon-text {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
}

.icon {
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  width: 30%;
  margin-right: 0;
}

.nav {
  display: inline-block;
  margin-right: 0;
  clear: left;
}

.navigation {
  margin-right: 0;
  float: right;
}

/*.logo img {
  width: 1300px;
  height: 520px;
  background-repeat: no-repeat;
}*/
